@model LetsGo.Domain.Entities.Restaurante

@{
    ViewBag.Title = "Index";
}

<!-- <header>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="~/css/site.css">

         var id = setInterval(function() {
     //call $.ajax here
 }, 30000); // 30 seconds

         https://jsfiddle.net/mayoung/Ctg8C/
    </header>  -->
    <section>

        <div class="caption left-align">
            <p class="username">Olá, @User.FindFirst("given_name")?.Value</p>
            <p class="nomeRestaurante">@Model.Nome</p>
            <div class="caption right-align">
                <p class="mesaInfo"><img id="imgMesa" src='@Url.Content("~/Midia/Amarelo.png")' />Mesa não monitorada</p>
                <p class="mesaInfo"><img id="imgMesa" src='@Url.Content("~/Midia/Vermelho.png")' />Mesa ocupada</p>
                <p class="mesaInfo"><img id="imgMesa" src='@Url.Content("~/Midia/Verde.png")' />Mesa livre</p>
            </div>
        </div>

        <!-- partial:index.partial.html -->
        <div class="container-fluid text-center">
            <canvas id="canvas" width="812" height="812"></canvas>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <p id="modal-table-id"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.11/fabric.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script src='https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.js'></script>

        <script>
        var restaurante = @Json.Serialize(Model);
        </script>
        <script src="~/js/index.js"></script>
    </section>